/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Breakpoints
$screen-phablet:   625px !default;
$screen-phablet-height:   500px !default;
$phablet:          "screen and (min-width: #{$screen-phablet})";
$phablet-wide:     "screen and (max-height: #{$screen-phablet-height})";

// Fonts
$font-family-headers: 'Boogaloo', Helvetica, Arial, sans-serif;

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

// Colors
$brand-primary: rgba(91,53,144,1);

// Navbar
$navbar-height: 55px;
$navbar-default-bg:                        $brand-primary;
$navbar-default-link-hover-bg:             lighten($brand-primary, 30%);
$navbar-default-link-active-color:         #FFF;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
