$calendar_shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

.mini-calendar {
  .events {
    max-height: 200px;
    overflow: scroll;
  }

  @media #{$normal} {
    padding-top: 15px;
  }
}

.calendar {
  .events {
    list-style-type: none;
    padding: 0;

    .event {
      @include clearfix;
      border-bottom: 1px dotted #ccc;
      margin-bottom: .5em;

      .date {
        display: block;
        float: left;
        transform: rotate(-5deg);
        width: 40px;
        overflow: hidden;
        border: 1px solid #000;
        text-align: center;
        box-shadow: $calendar_shadow;
        font-size: .75em;
        font-weight: bold;
        margin: 5px 1em 1em 5px;
        background: #fff;

        .month {
          display: block;
          color: #fff;
          background: #990000;
        }

        .day {
          display: block;
          font-size: 1.5em;
        }

        .day-of-week {
          width: 100%;
          display: block;
          color: #999;
          margin-top: -5px;
        }
      }

      .details {
        font-size: .8em;
        color: #666;
        font-style: italic;
        margin: 0 0 .5em 0;
        padding-left: 60px;

        p {
          margin: 0;
        }

        @media #{$tablet} {
          margin: 0;
          font-size: .7em;
          text-align: center;
          padding-left: 0;
          clear: left;
        }
        @media #{$normal} {
          margin: 0 0 .5em 0;
          font-size: .9em;
          text-align: left;
          padding-left: 60px;
          clear: none;
        }
      }

      @media #{$tablet} {
        font-size: .75em;

        .date {
          margin: 0 1em 1em 0;
          width: 30px;
        }

        .details {
          font-size: 1em;
        }
      }

      @media #{$normal} {
        font-size: 1em;

        .date {
          width: 40px;
        }

        .details {
          font-size: .8em;
        }
      }

      &:last-of-type {
        border-bottom: none;
      }
    }

    @media #{$tablet} {
      max-height: none;
      overflow: visible;
    }
  }
}