// Homepage.
.path-frontpage {
  h1 {
    border: none;
    margin: 0;
    padding: 0;
  }
}

// Page layout
.main-container {
  padding-top: 1em;
}

// Branding.
.school-name {
  font-size: 24px;
  display: block;
  text-align: center;
}

.school-logo {
  > img {
    @include img-responsive();
    position: relative;
    z-index: 1030; // Do not change; This is the only value that works with both Admin Toolbar and Bootstrap collapsible menu
  }
}

.region-navigation {
  .school-logo {
    position: absolute;
    top: $padding-small-vertical;
    display: block;
    width: 65px;
    left: 70px;

    @media #{$tablet} {
      display: none;
    }
  }
}

.region-header {
  max-width: none;

  @media #{$tablet} {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
    z-index: 1030;
    min-height: 60px;
    margin-left: -15px;
    width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    width: (($container-lg - $grid-gutter-width));
  }
}

.region-sub-header {
  position: relative;

  .school-logo {
    display: none;

    @media #{$tablet} {
      position: absolute;
      top: -50px;
      left: 10px;
      display: block;
      width: 180px;
    }
  }
}

.region-content {
  @media #{$tablet} {
    //padding-top: 60px;
  }
}

.block-footer-message {
  text-align: center;
  font-size: $font-size-small;

  & p {
    margin: 3px 0;
  }
}

.info-rail {
  //margin-top: 70px;
}

