// All Pages
h1, h2, h3, h4, h5, .block-title {
  font-family: $font-family-headers;
}

// Homepage.
.path-frontpage {
  h1 {
    border: none;
    margin: 0;
    padding: 0;
  }
}

// Page layout
.main-container {
  padding-top: 1em;
  min-height: 350px; // This wouldn't be needed if overflow-x worked without cutting off elements on the vertical axis
  @media #{$tablet} {
    padding-top: 70px;
  }
}

// Branding.
.school-name {
  font-family: $font-family-headers;
  font-size: 36px;
  display: block;
  text-align: center;

  @media #{$wide} {
    font-size: 48px;
  }
}

.school-logo {
  > img {
    @include img-responsive();
    position: relative;
    z-index: 1030; // Do not change; This is the only value that works with both Admin Toolbar and Bootstrap collapsible menu
  }
}

.region-navigation {
  .school-logo {
    position: absolute;
    top: $padding-small-vertical;
    display: block;
    width: 65px;
    left: 70px;

    @media #{$tablet} {
      display: none;
    }
  }
}

.region-header {
  max-width: none;

  @media #{$tablet} {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: fixed;
    z-index: 1030;
    min-height: 60px;
    margin-left: -15px;
    width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    width: (($container-lg - $grid-gutter-width));
  }
}

.region-sub-header {
  position: relative;

  .school-logo {
    display: none;
  }

  @media #{$tablet} {
    position: fixed;
    z-index: 1030;
    width: 100%;
    min-height: 70px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);;

    .school-logo {
      position: absolute;
      top: -50px;
      left: 15px;
      display: block;
      width: 150px;
    }
  }
  @media #{$normal} {
    .school-logo {
      left: 15px;
      width: 205px;
    }
  }
  @media #{$wide} {
    .school-logo {
      left: 18px;
      width: 250px;
    }
  }
}

.region-content {
  @media #{$mobile} {
    padding-right: 42px;
  }
}

.block-footer-message {
  text-align: center;
  font-size: $font-size-small;

  & p {
    margin: 3px 0;
  }
}

.info-rail {
  //margin-top: 70px;
}

