.school-logo img {
  @include img-responsive;
}
.school-name {
  padding: 0;
  font-size: 24px;
  display: block;
  text-align: center;
}

.block-footer-message {
  text-align: center;
  font-size: $font-size-small;

  & p {
    margin: 3px 0;
  }
}